@font-face {
  font-family: "GTramontina";
  src: url("../fonts/GTramontina.ttf"); }

body {
  font: 12px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
  background: #f2f2f2 url("../images/whiteboard.png") top center; }

#board {
  width: 100%;
  height: 100%; }

.add {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #666;
  border-style: none;
  margin-left: 8px;
  -webkit-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  -mox-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  -o-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5); }

.post_it {
  width: 200px;
  height: 200px;
  margin: 10px 10px 5px 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  -mox-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  -o-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5); }
  .post_it .header {
    height: 20px;
    width: 200px;
    font-weight: bold;
    cursor: move; }
  .post_it .content {
    height: 160px;
    width: 180px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    overflow: auto;
    outline: none; }

.well {
  background-color: rgba(164, 234, 174, 0.4); }
  .well .header {
    background-color: rgba(164, 234, 174, 0.5);
    border-bottom: 2px solid rgba(164, 234, 174, 0.9); }
    .well .header:hover {
      background-color: #a4eaae; }

.not_so_well {
  background-color: rgba(246, 250, 175, 0.4); }
  .not_so_well .header {
    background-color: rgba(246, 250, 175, 0.5);
    border-bottom: 2px solid rgba(246, 250, 175, 0.9); }
    .not_so_well .header:hover {
      background-color: #f6faaf; }

.action_item {
  background-color: rgba(175, 224, 250, 0.4); }
  .action_item .header {
    background-color: rgba(175, 224, 250, 0.5);
    border-bottom: 2px solid rgba(175, 224, 250, 0.9); }
    .action_item .header:hover {
      background-color: #afe0fa; }

.bad {
  background-color: rgba(255, 95, 95, 0.4); }
  .bad .header {
    background-color: rgba(255, 95, 95, 0.5);
    border-bottom: 2px solid rgba(255, 95, 95, 0.9); }
    .bad .header:hover {
      background-color: #ff5f5f; }

.new {
  position: absolute;
  top: 50px;
  left: 10px; }

.handwritten {
  font-family: "GTramontina"; }

.big {
  font-size: 30px; }

menu {
  padding: 2px; }
  menu span {
    vertical-align: bottom; }

.hidden {
  display: none; }
