$post_it_side: 200px;
$well_color: #A4EAAE;
$not_so_well_color: #F6FAAF;
$action_item_color: #AFE0FA;
$bad_color: #FF5F5F;
$glue_effect_color:#FFF;
$pen_color: #000;
$post_it_font_size: 12px;

@font-face {
  font-family: "GTramontina";
  src: url("../fonts/GTramontina.ttf");
}

@mixin border-radius-of($border) {
  -webkit-border-radius: $border;
  -moz-border-radius: $border;
  border-radius: $border;
}

@mixin no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin create-box-shadow {
  -webkit-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  -mox-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  -o-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
}

@mixin post-it-color($color) {
  background-color: rgba($color, 1);
  color: mix($color, $pen_color);

  .header {
    $glue: mix($color, $glue_effect_color);
    background-color: $glue;
    border-bottom: 2px solid saturate($glue, 80%);
    &:hover {
      background-color: rgba($glue, 0.5);
    }
  }
}

@mixin color-text($size, $color) {
  font-size: $size;
  color: $color;
}

body {
  font: 12px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
  background: #F2F2F2 url("../images/whiteboard.png") top center;
}

#board {
  width     : 100%;
  height    : 100%;
}

.add {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #666;
  border-style: none;
  margin-left: 8px;
  @include create-box-shadow;
}

.post_it {
  width         : $post_it_side;
  height        : $post_it_side;
  margin: 10px 10px 5px 5px;
  overflow: hidden;
  @include create-box-shadow;

  .header {
    height: 20px;
    width: $post_it_side;
    font-weight: bold;
    cursor: move;
  }

  .content {
    height: 160px;
    width: 180px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    overflow: auto;
    outline: none;
  }
}

.well {
  @include post-it-color($well_color);
}

.not_so_well {
  @include post-it-color($not_so_well_color);
}

.action_item {
  @include post-it-color($action_item_color);
}

.bad {
  @include post-it-color($bad_color);
}

.new {
  position  : absolute;
  top       : 50px;
  left      : 10px;
}

.handwritten {
  font-family: "GTramontina";
}

.big {
  font-size: 30px;
}

menu {
  padding: 2px;
  span {
    vertical-align: bottom;
  }
}

.hidden {
  display : none;
}
