#board {
  width     : 100%;
  height    : 100%;
}

.post_it {
  width         : 200px;
  height        : 200px;
  border        : 5px solid lightblue;   
  border-radius : 15px;
  box-shadow    : 10px 10px 5px #888;
  width         : 200px;
  height        : 200px;
}

.new {
  position  : absolute;
  top       : 50px;
  left      : 10px;
}

.hidden {
  display : none;
}

.header {
  height  : 20px;
  width   : 200px;
}

.body {
  height  : 160px;
  width   : 180px;
  margin  : 10px;
}

.well {
  background-color  : white;
}

.well .body {
  background-color  : white;
  overflow: auto;
}

.well .header{
  background-color  : darkBlue;
  cursor            : move;
  border-radius     : 10px;
}
